#time,
#countDown {
    font-family: 'New Watch', sans-serif;
    font-size: 60px;
}

/* #countDown {
    background-color: rgba(140, 189, 18, 0.566);
} */

.card {
    width: 100%;
}

.col-9 {
    height: 400px;
}

.myscreen {
    background-color: rgba(140, 189, 18, 0.566);
    width: 500px;
    height: 200px;
    margin-top: 50px;
}